<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifg.healthfinancas">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DAO.UploadExtrato"
            android:label="@string/app_name">
          <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity>

        <activity android:name=".DAO.ListCategoria">
             <!--<intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter> -->
        </activity>
        <activity android:name=".DAO.EditCategoria"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>

        <activity
            android:name=".DAO.EditTipoTransacao"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />

        <activity
            android:name=".DAO.AddTipoTransacao"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".DAO.AddCategoria"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".DAO.ListTipoTransacao"
            android:label="@string/app_name">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name=".DAO.ListarExtrato"
            android:label="@string/app_name" />

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <user-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
</manifest>
